<%= form_for [:admin, @book], :html => { :class => 'form-horizontal' } do |f| %>
    <% if @book.errors.any? %>
    <div>
      <ul class="unstyled well-small alert-error">
        <% for message in @book.errors.full_messages %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= f.hidden_field :id %>
    <div class="control-group">
        <%= f.label :name, '图书名称', :class => "control-label" %>
        <div class="controls"><%= f.text_field :name %></div>
    </div>

    <div class="control-group">
      <%= f.label :sub_name, '子名称', :class => "control-label" %>
      <div class="controls"><%= f.text_field :sub_name %></div>
    </div>

    <div class="control-group">
      <%= f.label :language, '语言', :class => "control-label" %>
      <div class="controls"><%= f.select :language, [['中文', 'cn'], ['英文', 'en']] %></div>
    </div>

    <div class="control-group">
      <%= f.label :cover_image, '封面图片', :class => "control-label" %>
      <div class="controls"><%= f.text_field :cover_image %></div>
    </div>

    <div class="control-group">
      <%= f.label :source_url, '来源url', :class => "control-label" %>
      <div class="controls"><%= f.text_field :source_url %></div>
    </div>

    <div class="control-group">
      <%= f.label :seo_url, 'SEO url', :class => "control-label" %>
      <div class="controls"><%= f.text_field :seo_url %></div>
    </div>

    <div class="control-group">
      <%= f.label :introduce, '图书简介', :class => "control-label" %>
      <div class="controls"><%= f.text_area :introduce, "rows" => 4, 'class' => 'span5' %></div>
    </div>

    <div class="form-actions">
      <%= f.submit '提交', :class => 'btn btn-primary' %>
      <a href="<%= admin_books_url %>"><i class="icon-share-alt"></i>返回图书管理</a>
    </div>
<% end %>