<div class="mb10">
  <a class="btn" href="<%= url_for(:controller => 'admin/poems', :action => 'new') %>"><i class="icon-plus-sign"></i> 添加诗歌</a>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>诗歌标题</th>
    <th>作者</th>
    <th>创建时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @poems.each do |poem| %>
  <tr>
    <td><%= poem.id %></td>
    <td><%= poem.title %></td>
    <td><%= poem.author.name %></td>
    <td><%= poem.created_at.to_date %></td>
    <td>
      <a href="<%= edit_polymorphic_url([:admin, poem]) %>"><i class="icon-edit"></i>编辑</a>
      |
      <%= link_to content_tag(:i, '', 'class'=>'icon-remove-sign')+"删除", admin_poem_path(poem), :confirm => "确定删除?", :method=>:delete %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @poems %>