<div class="clearfix mb10">
  <div class="pull-left" style="margin-right: 10px;">
    <img src="<%= @book.cover_image %>" title="<%= @book.name %>" />
  </div>
  <div>
    <h1>
      <strong><%= @book.name %></strong>
      <small><%= @book.sub_name %></small>
    </h1>
    <div><%= @book.introduce %></div>
  </div>
</div>

<div class="chapters">
  <h3>目录：</h3>
  <% chapter_ids = @schedules.map do |schedule| schedule.chapter_id end  if @schedules%>
  <ul class="unstyled">
    <% @book.chapters.each do |chapter| %>
    <li>
      <span style="display: inline-block; width: 80px; text-align: right;">第<%= chapter.number %>章：</span>
      <a href="<%= chapter_url(@book.seo_url, chapter.number) %>"><%= chapter.title %></a>
      <% if chapter_ids && chapter_ids.include?(chapter.id) %>
      已读 <small><%= chapter.updated_at.strftime('%Y-%m-%d %H:%M')  %></small>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>