<div class="clearfix">
  <div class="pull-left">
    <img src="<%= @book.cover_image %>" title="<%= @book.name %>" />
  </div>
  <div>
    <p><%= @book.name %></p>
    <div><%= @book.sub_name %></div>
  </div>
</div>

<div>
  目录：
  <% chapter_ids = @schedules.map do |schedule| schedule.chapter_id end %>
  <ol>
    <% @book.chapters.each do |chapter| %>
    <li>
      <a href="<%= chapter_url(chapter.book_id, chapter.number) %>"><%= chapter.title %></a>
      <% if chapter_ids.include?(chapter.id) %>
      已读 <small><%= chapter.updated_at.strftime('%Y-%m-%d %H:%M')  %></small>
      <% end %>
    </li>
    <% end %>
  </ol>
</div>