<div>
  <%= @chapter.title %>
</div>
<div>
  <%= @chapter.content %>
</div>

<div class="row">
  <div class="span4">
    <a href="<%= chapter_url(@chapter.number - 1) %>">上一节</a>
  </div>
  <div class="span4">
    <a href="<%= book_url(@chapter.book) %>"><i class="icon-share-alt"></i>返回<%= @chapter.book.name %></a>
  </div>
  <div class="span4">
    <a href="<%= chapter_url(@chapter.number + 1) %>">下一节</a>
  </div>
</div>