<style>
  .content p { text-indent: 28px; line-height: 28px; }
</style>
<div>
  <strong><%= '第'+@chapter.number.to_s+'章：'+@chapter.title %></strong>
</div>
<div class="content">
  <%= simple_format(@chapter.content) %>
</div>

<div class="row">
  <div class="span4">
    <% if @chapter.number > 1 %>
    <a href="<%= chapter_url(@chapter.book.id, @chapter.number - 1) %>">上一节</a>
    <% else %>
    <a href="javascript:void(0);">没有了</a>
    <% end %>
  </div>
  <div class="span4">
    <a href="<%= book_url(@chapter.book) %>"><i class="icon-share-alt"></i>返回<%= @chapter.book.name %></a>
  </div>
  <div class="span4">
    <a href="<%= chapter_url(@chapter.book.id, @chapter.number + 1) %>">下一节</a>
  </div>
</div>