<%= provide(:stylesheet, stylesheet_link_tag('home')) %>
<div class="container">
  <ul class="books unstyled clearfix">
    <li>
      <% @books.each do |book| %>
        <div><a href="<%= book_url(book) %>"><img src="<%= book.cover_image %>" title="<%= book.name %>" /></a></div>
        <div class="tac"><a href="<%= book_url(book) %>"><%= book.name %></a></div>
      <% end %>
    </li>
  </ul>
</div>