<%= form_for [:admin, @chapter],:html => { :class => 'form-horizontal' } do |f| %>
    <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
    <% end %>
    <% if @chapter.errors.any? %>
    <div>
      <ul class="unstyled well-small alert-error">
        <% for message in @chapter.errors.full_messages %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= f.hidden_field :id %>
    <div class="control-group">
      <%= f.label :url, '目标URL', :class => "control-label" %>
      <div class="controls">
        <input class="input-xlarge" name="spider_url" type="text" value="<%= params[:spider_url] %>"/>
        <button class="btn" type="button" onclick="$('#ifr').attr('src', $('input[name=spider_url]').val())">爬取</button>
      </div>
      <div class="pull-right" style="position: fixed; top:50px; right:0;"><iframe style="height: 500px; width: 700px;" id="ifr" src=""></iframe></div>
    </div>
    <div class="control-group">
        <%= f.label :book_id, '所属图书', :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :book_id, 'class'=>'input-mini' %>
          <%= @chapter.book.name %>
        </div>
    </div>

    <div class="control-group">
      <%= f.label :number, '章节号', :class => "control-label" %>
      <div class="controls"><%= f.text_field :number %></div>
    </div>

    <div class="control-group">
      <%= f.label :title, '标题', :class => "control-label" %>
      <div class="controls"><%= f.text_field :title %></div>
    </div>

    <div class="control-group">
      <%= f.label :content, '章节内容', :class => "control-label" %>
      <div class="controls"><%= f.text_area :content, "rows" => 4, 'class' => 'span5' %></div>
    </div>

    <div class="form-actions">
      <%= f.submit '提交', :class => 'btn btn-primary' %>
      <a href="<%= admin_chapters_url(:book_id => @chapter.book_id) %>"><i class="icon-share-alt"></i>返回章节管理</a>
    </div>
<% end %>