<%= form_for [:admin, @chapter],:html => { :class => 'form-horizontal' } do |f| %>
    <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
    <% end %>
    <% if @chapter.errors.any? %>
    <div>
      <ul class="unstyled well-small alert-error">
        <% for message in @chapter.errors.full_messages %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= f.hidden_field :id %>
    <div class="control-group">
      <%= f.label :url, '目标URL', :class => "control-label" %>
      <div class="controls">
        <input type="hidden" name="spider_url" value="<%= params[:spider_url] %>"/>
        <input class="input-xlarge span5" align="right" name="to_spider_url" type="text" value="<%= format_source_url(params[:spider_url], @chapter) %>"/> @
        <button class="btn" type="button" onclick="$('#ifr').attr('src', $('input[name=to_spider_url]').val())">爬取</button>
      </div>
    </div>
    <div class="control-group">
        <%= f.label :book_id, '所属图书', :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :book_id, 'class'=>'input-mini' %>
          <%= @chapter.book.name %>
        </div>
    </div>

    <div class="control-group">
      <%= f.label :number, '章节号', :class => "control-label" %>
      <div class="controls"><%= f.text_field :number %></div>
    </div>

    <div class="control-group">
      <%= f.label :title, '标题', :class => "control-label" %>
      <div class="controls"><%= f.text_field :title %></div>
    </div>

    <div class="control-group">
      <%= f.label :content, '章节内容', :class => "control-label" %>
      <div class="controls"><%= f.text_area :content, "rows" => 10, 'class' => 'span10' %></div>
    </div>

    <div class="form-actions">
      <%= f.submit '提交', :class => 'btn btn-primary' %>
      <a href="<%= admin_chapters_url(:book_id => @chapter.book_id) %>"><i class="icon-share-alt"></i>返回章节管理</a>
    </div>

    <div style="position: absolute; top: 50px; right: 10px; background-color: #fff; padding: 10px; border: #ccc 1px solid; width: 400px; margin-left: 150px;">
      <p><strong>爬取内容入库：</strong></p>
      <p>
        标题规则：
        <input type="text" class="input-mini" name="rule_title" value="<%= params[:rule_title] %>"/>
      </p>
      <p>
        内容规则：
        <input type="text" class="input-mini" name="rule_content" value="<%= params[:rule_content] %>"/>
      </p>
      <div><button type="button" name="binding" class="btn btn-small">绑定内容</button></div>
    </div>

    <div id="spider_content" style="display: none;"><%= spider_url(format_source_url(params[:spider_url], @chapter)).html_safe %></div>
<% end %>

<script>
  $(document).ready(function() {
      $('button[name=binding]').click(function() {
          var spider = $($('#spider_content').html());
          var title = spider.find($('input[name=rule_title]').val()).html();
          var content = spider.find($('input[name=rule_content]').val()).html();
          var arr = title.split(' ');
          arr.shift();
          title = $.trim(arr.join(' '));
          $('input[name="chapter[title]"]').val(title);
          $('textarea').val($(content).text());

          return false;
      });
  });
</script>