<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>Books</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div>
        <div class="pull-right" style="padding: 10px;;">欢迎：</div>
        <ul class="nav nav-tabs" style="padding: 10px 20px; padding-bottom: 0;;">
            <li<%= ' class=active' if params[:controller] == 'admin/books' %>><a href="<%= url_for(:controller => 'admin/books') %>">图书管理</a></li>
            <li<%= ' class=active' if params[:controller] == 'admin/chapters' %>><a href="<%= url_for(:controller => 'admin/chapters') %>">章节维护</a></li>
            <li<%= ' class=active' if params[:controller] == 'admin/users' %>><a href="<%= url_for(:controller => 'admin/users') %>">用户管理</a></li>
        </ul>
    </div>
    <div style="padding: 10px; padding-top: 0;">
      <%= yield %>
    </div>
    <div></div>
</body>
</html>
